---
import GithubLogo from 'public/GithubLogo.astro';
interface Props {
    gridSize: String;
    name: String;
    stack: Array<String>;
    codeLink: String;
    image: String;
}

const { gridSize, name, stack, codeLink, image } = Astro.props
---

<article style={`position: relative;`} class={`flex flex-col items-stretch justify-end ${gridSize} bg-no-repeat bg-cover bg-center border-[1px] border-gray-700 rounded-xl p-4`}>
    <div class="rounded-xl" style={`background-image: url('/public/${image}'); position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-size: cover;`} />
    <div class="rounded-xl" style={`background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)); position: absolute; bottom: 0; right: 0; left: 0; height: 100%;`} />
    <div class="flex flex-col" style={`position: relative; z-index: 1;`}>
        <h1 class="text-2xl md:text-[2.20rem] font-bold m-0">{name}</h1>
        <ul class="flex gap-2 justify-start items-center m-0 list-none p-0 ">
           {
               stack.map((item) => {
                   return <li class="text-xs md:text-sm border-[1px] border-zinc-400 bg-[#0000007b] text-white px-3 py-[0.20rem] rounded-2xl">{item}</li>
               })
           }
        </ul>
    </div>
    <aside class="flex justify-end items-end gap-3" style={`position: relative; z-index: 1;`}>
        <a href=`${codeLink}` class="flex items-center gap-2 bg-[#0000007b] border-2 border-zinc-500 px-6 py-1 rounded-2xl no-underline hover:bg-[#545454cb] hover:text-white transition-colors duration-300">
            
            <GithubLogo class="w-2 h-2 color border-white" />
            View Code
        </a>
    </aside>
</article>